<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= myPageTitle %>
    </title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <%- include('./partials/header.ejs') %>
        <main>
            <section id="booking">
                <article>
                    <h1>BOOK A TABLE</h1>
                    <div class="line"></div>
                    <form action="">
                        <input type="text" placeholder="Name">
                        <input type="tel" placeholder="Phone">
                        <input type="date" placeholder="Date(mm/dd)">
                        <input type="email" placeholder="Email">
                        <input type="number" placeholder="People">
                        <input type="time" placeholder="Time">
                        <input type="submit" VALUE="SUBMIT">
                    </form>
                </article>
                <div class="img">
                    <!-- <img src="../img/booking-img.jpeg" alt=""> -->
                    <div class="square"></div>
                </div>
            </section>
            <p>Mon - Fri: 8PM - 10PM, Sat - Sun: 8PM - 3AM, Phone: +40 729 131 637/+40 726 458 782</p>
        </main>
        <%- include('./partials/footer.ejs') %>
</body>

</html>