<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= myPageTitle %>
    </title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <%- include('./partials/header.ejs') %>
        <section id='events'>
            <p>PRIVATE EVENTS</p>
            <div>
                <img src="../img/events-img1" alt="pic1">
                <p>weddings</p>
            </div>
            <div>
                <img src="../img/events-img2" alt="pic2">
                <p>corporate parties</p>
            </div>
            <p>For private events please call: +40 729 131 637/+40 726 458 782 or use the contact form.</p>
        </section>

        <%- include('./partials/footer.ejs') %>
</body>

</html>