<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant|Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <nav>
            <a href="/">HOME</a>
            <a href="/">ABOUT</a>
            <a href="/">TEAM</a>
            <a href="/">BOOKING</a>
            <!-- <div></div> -->
            <a href="/">MENU</a>
            <a href="/">GALERIE</a>
            <a href="/">EVENTS</a>
            <a href="/">CONTACT</a>
            <a href="/">FEEDBACK</a>
        </nav>
        <section>
            <p class="date">Mon - Fri: 8PM - 10PM, Sat - Sun: 8PM - 3AM</p>
            <div class="headerMiddle">
                <p>RESTAURANT</p>
                <h1>HUNGRY PEOPLE</h1>
                <div class="line"></div>
                <div class="headerlinks">
                    <a href="/">BOOK TABLE</a>
                    <a href="/">EXPLORE</a>
                </div>
                <div class="btn_down">
                    <a href="/"><img src="/img/linkedin.png" alt="linkedin"></a>
                </div>
            </div>
            <div class="socialMedia">
                <a href="/"><img src="/img/facebook.png" alt="fb"></a>
                <a href="/"><img src="/img/twitter.png" alt="twitter"></a>
                <a href="/"><img src="/img/instagram.png" alt="insta"></a>
                <a href="/"><img src="/img/linkedin.png" alt="linkedin"></a>
            </div>
        </section>

        <div></div>

    </header>
</body>

</html>