@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Open+Sans:wght@300&display=swap');
   
$yellow-color: #E8C443;
$white-color:#FFFFFF;
$gra-color:#E5E5E5;
$black-color:#000000;
$fontText:'Open Sans', sans-serif;
$fontTitles:'Open Sans', sans-serif;
// $fontTitles:'Fredericka the Great', cursive;

*{
    box-sizing: border-box;
    margin: 0;
    font-family: $fontText;
}
// HOME
body{
    min-height: 100vh;
    header{
        text-transform: uppercase;
        color: $white-color;
        background-image: url('../img/bg.jpeg');
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center;
        // background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)) url('../img/bg.jpeg');
        nav{
            // border-bottom: solid $white-color 1px;
            padding-top: 2em;
            padding-bottom: 1em;
            display: flex;
            justify-content: space-around;
            a{
                color: $white-color;
                text-decoration: none;
                padding-bottom: 1em;
            }
            a:hover{
                color: $yellow-color;
                border-bottom: $yellow-color 0.5px solid;
            }
            div{
                width: 10%;
                border-radius: 50%;
                background-color: $yellow-color;
            }
        }
        section{
            padding:2em;
            margin-top: 20%;
            display: flex;
            justify-content: space-around;
            .date{
                text-align: center;
                // width: max-content;
                transform-origin: 0 0;
                transform: rotate(90deg);
            }
            .headerMiddle{
                
                text-align:center ;
                p{
                    margin-bottom: 3em;
                    padding-right: 30%;
                }
                h1{
                    font-family: $fontTitles;
                    text-transform: capitalize;
                    letter-spacing: 0.5em;
                    font-size: 3em;
                    padding-right: 4em;
                    margin-bottom: 1em;
               
                }
                .line{
                    width: 12%;
                    border-top: $yellow-color 6px solid;
                    margin-left: 30%;
                    margin-bottom: 3em;
                }
                .headerlinks{
                    margin-top: 7em;
                    margin-left: 11%;
                    // border-style: solid;
                    width: 50%;
                    display: flex;
                    justify-content: space-between;
                    a{
                        width: 40%;
                        padding: 1.5em;
                        border-radius: 0.5em;
                        display: inline-block;
                        text-decoration: none;
                        color: $white-color;
                        margin-bottom: 10em;
                        border:$white-color 1px solid;
                        background-color: $yellow-color;
                    }
                    a:hover{
                        opacity: 0.7;
                        
                    }
                    a:nth-child(2){
                        background-color: transparent;
                        border:$white-color 1px solid;
                    }
                }
                .btn_down{
                   
                    a{
                        text-align: center;
                        display: inline-block;
                        margin-bottom: 3em;
                        margin-right: 30%;
                        padding: 1em 0.5em 0.5em 0.5em;
                        border-radius: 50%;
                        background-color: $white-color;
                        // outline: solid 2px $white-color;
                        
                        img{   
                            // display: inline-block;
                            // padding-top: 1em; 
                            width: 2em;    
                        }
                    }
                    a:hover{
                        opacity: 0.7;
                    }
                }
            }
            .socialMedia{
                display: flex;
                flex-direction: column;
                justify-content: top;
                
                a{  
                    text-align: center;
                    margin-bottom: 3em;
                    padding: 0.5em;
                    border-radius: 50%;
                    background-color: $white-color;
                    // outline: solid 2px $white-color;
                    img{    
                        width: 2em;    
                    }
                }
                a:hover{
                    opacity: 0.7;
                }

            }
        }
    }

    // ABOUT
    main #about, #team, #booking, #feedback, #galerie{
        display: flex;
        padding: 5em;
    
        article{
            padding: 3em;
            text-align: center;
            width: 50%;
            h1{
                font-family: $fontTitles;
                margin-bottom: 1em;
                font-size: 2em;
            }
            .line{
                width: 12%;
                border-top: $yellow-color 6px solid;
                margin: 0 auto;
                margin-bottom: 2em;
            }
            p:nth-of-type(1){
                font-size: 1.2em;
                margin-bottom:1em ;
            }
            p{
                margin-bottom:1em ;
            }
        }
        .img{
            object-fit: fill;
            box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 30px 0 rgba(0, 0, 0, 0.19);
            width: 35%;
            background-image: url('../img/about-img.jpeg') ;
            background-repeat: no-repeat;
            background-size:cover;
            background-position: center;
            .square{
                position: relative;
                top:20%;
                left: 80%;
                width: 40%;
                height: 60%;
                border: $yellow-color 1em solid;
                box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 30px 0 rgba(0, 0, 0, 0.19);
            }
        }
  
    }
    //BOOKING
    main #booking, main #feedback{
        .img{
            background-image: url('../img/booking-img.jpeg') ;
        }
        article{
            form{
               
                input{
                    border-style: none;
                    border-radius: 5px;
                    color: $white-color;
                    width: 40%;
                    height: 3em;
                    margin-bottom: 0.8em;
                    background-color: $gra-color;
                }
                input:last-of-type{
                   width: 82%;
                   background-color: $yellow-color;
                   color: $white-color;
                }
            }
        }
    }
    main #feedback{
        .img{
            width: 40%;
            background-image: url('../img/feedback-img.jpeg') ;
        }
        article{
            form{
                input:nth-of-type(3){
                   width: 82%;
                   background-color: $gra-color;
                   height: 10em;
                   color: $white-color;
                }
            }
        }
    }
    main #booking +p, main #feedback+p{
        color: $gra-color;
        text-align: center;
        padding: 1em;
    }
    main #team, main #galerie{
        justify-content: space-around;
        background-image: url('../img/team-bg.jpeg');
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center;
        article{
            color: $white-color; 
            text-align: center;
            width: 50%;
            // padding: 0;
            p:nth-of-type(1){
                font-size: 1.2em;
                margin-bottom:1em ;
            }
            p{
                margin-bottom:1em ;
                color: $gra-color;
            }
        }
        .img{
            object-fit: fill;
            background-image: url('../img/team-img.jpeg') ;
            .square{
                position: relative;
                top:20%; 
                left: -20%; 
                width: 40%;
                height: 60%;
                border: $yellow-color 1em solid;     
            }
        }
    }
    main #galerie{
        .img{
            background-image: url('../img/galerie-img.png') ;
        }
    }
    //FOOTER
    footer{
        background-color: $black-color;
        color: $white-color;
        p{
            text-align: center;
            padding: 5em;
        }
    }
    //404
    .img404{
        display: block;
        margin: 0 auto;
    }
}
    
