@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Open+Sans:wght@300&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  min-height: 100vh;
}

body header {
  text-transform: uppercase;
  color: #FFFFFF;
  background-image: url("../img/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

body header nav {
  padding-top: 2em;
  padding-bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body header nav a {
  color: #FFFFFF;
  text-decoration: none;
  padding-bottom: 1em;
}

body header nav a:hover {
  color: #E8C443;
  border-bottom: #E8C443 0.5px solid;
}

body header nav div {
  width: 10%;
  border-radius: 50%;
  background-color: #E8C443;
}

body header section {
  padding: 2em;
  margin-top: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body header section .date {
  text-align: center;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

body header section .headerMiddle {
  text-align: center;
}

body header section .headerMiddle p {
  margin-bottom: 3em;
  padding-right: 30%;
}

body header section .headerMiddle h1 {
  font-family: "Fredericka the Great", cursive;
  text-transform: capitalize;
  letter-spacing: 0.5em;
  font-size: 3em;
  padding-right: 4em;
  margin-bottom: 1em;
}

body header section .headerMiddle .line {
  width: 12%;
  border-top: #E8C443 6px solid;
  margin-left: 30%;
  margin-bottom: 3em;
}

body header section .headerMiddle .headerlinks {
  margin-top: 7em;
  margin-left: 11%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body header section .headerMiddle .headerlinks a {
  width: 40%;
  padding: 1.5em;
  border-radius: 0.5em;
  display: inline-block;
  text-decoration: none;
  color: #FFFFFF;
  margin-bottom: 10em;
  border: #FFFFFF 1px solid;
  background-color: #E8C443;
}

body header section .headerMiddle .headerlinks a:hover {
  opacity: 0.7;
}

body header section .headerMiddle .headerlinks a:nth-child(2) {
  background-color: transparent;
  border: #FFFFFF 1px solid;
}

body header section .headerMiddle .btn_down a {
  text-align: center;
  display: inline-block;
  margin-bottom: 3em;
  margin-right: 30%;
  padding: 1em 0.5em 0.5em 0.5em;
  border-radius: 50%;
  background-color: #FFFFFF;
}

body header section .headerMiddle .btn_down a img {
  width: 2em;
}

body header section .headerMiddle .btn_down a:hover {
  opacity: 0.7;
}

body header section .socialMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: top;
      -ms-flex-pack: top;
          justify-content: top;
}

body header section .socialMedia a {
  text-align: center;
  margin-bottom: 3em;
  padding: 0.5em;
  border-radius: 50%;
  background-color: #FFFFFF;
}

body header section .socialMedia a img {
  width: 2em;
}

body header section .socialMedia a:hover {
  opacity: 0.7;
}

body main #about, body #team, body #booking, body #feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5em;
}

body main #about article, body #team article, body #booking article, body #feedback article {
  padding: 3em;
  text-align: center;
  width: 50%;
}

body main #about article h1, body #team article h1, body #booking article h1, body #feedback article h1 {
  font-family: "Fredericka the Great", cursive;
  margin-bottom: 1em;
  font-size: 2em;
}

body main #about article .line, body #team article .line, body #booking article .line, body #feedback article .line {
  width: 12%;
  border-top: #E8C443 6px solid;
  margin: 0 auto;
  margin-bottom: 2em;
}

body main #about article p:nth-of-type(1), body #team article p:nth-of-type(1), body #booking article p:nth-of-type(1), body #feedback article p:nth-of-type(1) {
  font-size: 1.2em;
  margin-bottom: 1em;
}

body main #about article p, body #team article p, body #booking article p, body #feedback article p {
  margin-bottom: 1em;
}

body main #about .img, body #team .img, body #booking .img, body #feedback .img {
  -o-object-fit: fill;
     object-fit: fill;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 30px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 30px 0 rgba(0, 0, 0, 0.19);
  width: 35%;
  background-image: url("../img/about-img.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

body main #about .img .square, body #team .img .square, body #booking .img .square, body #feedback .img .square {
  position: relative;
  top: 20%;
  left: 80%;
  width: 40%;
  height: 60%;
  border: #E8C443 1em solid;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 30px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 30px 0 rgba(0, 0, 0, 0.19);
}

body main #booking .img, body main #feedback .img {
  background-image: url("../img/booking-img.jpeg");
}

body main #booking article form input, body main #feedback article form input {
  color: #FFFFFF;
  width: 40%;
  height: 3em;
  margin-bottom: 0.8em;
  background-color: #8C8C8C;
}

body main #booking article form input:last-of-type, body main #feedback article form input:last-of-type {
  width: 82%;
  background-color: #E8C443;
  color: #FFFFFF;
}

body main #feedback .img {
  background-image: url("../img/feedback-img.jpeg");
}

body main #feedback article form input:nth-of-type(3) {
  width: 82%;
  background-color: #8C8C8C;
  height: 10em;
  color: #FFFFFF;
}

body main #booking + p, body main #feedback + p {
  color: #8C8C8C;
  text-align: center;
  padding: 1em;
}

body footer {
  background-color: #000000;
  color: #FFFFFF;
}

body footer p {
  text-align: center;
  padding: 5em;
}

body .img404 {
  display: block;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */